<% provide(:title, "About") %>

<div class="center jumbotron">
	<h1>About Artisto</h1>
</div>

<div class="center jumbotron">
	<h1>
		We're on a mission to help mankind live healthier, longer.
	</h1>
</div>

<div class="center jumbotron">
	<h1>
		Every day lots of people struggle to find the right artist for their works. We want to change that. Globally.
	</h1>
	<h2>
		This starts with helping them find the best artists and culminates into a single intelligent artistry account for the entire family that securely stores all their arts and works so they can make better decisions. 
	</h2>
</div>

<div class="center jumbotron">
	<h1>
		Rules Are For Fools
		We're Driven By Values
	</h1>

	<h2>
		 We believe values are more important than rules. At Artisto our values are not just principles for our products but they in many ways define who we are as people. Foremost amongst our values is do-great.

		do great is our belief that whatever we do, we must always do it the best. That good is not good enough. That our desire for excellence stems not from want of rewards or recognitions but from the sky high expectations we have of us. 
	</h2>

	<h2>
	  
	</h2>
</div>

<div class="center jumbotron">
	<h2>
		Everyday, we work on problems no one has dared to solve before. We’re dreamers, thinkers and do-ers all rolled into one. We have audaciously, galactically big dreams - because that’s what it takes to truly change the world and improve access to local artists. 
	</h2>
</div>
